<div class="profile-container">
  
  <div class="header">
    <button class="btn-back" [routerLink]="['/']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2><mat-icon class="title-icon">person_outline</mat-icon> Editar perfil</h2>
  </div>

  <div class="profile-card">
    
    <mat-tab-group class="oran-tabs" mat-stretch-tabs="false" mat-align-tabs="start">
      
      <mat-tab label="Editar datos">
        <form class="profile-form tab-content" [formGroup]="formData">

          <div class="input-row">
            
            <div class="input-group">
              <label>Nombre/s</label>
              <input 
                type="text" 
                class="oran-input" 
                placeholder="Juan" 
                formControlName="firstname"
                [class.input-error]="formData.controls.firstname.invalid && formData.controls.firstname.touched">

              @if (formData.controls.firstname.invalid && formData.controls.firstname.touched) {
                <div class="error-container">
                  @if (formData.controls.firstname.hasError('required')) {
                    <span class="error-text">El nombre es obligatorio.</span>
                  } @else if (formData.controls.firstname.hasError('minlength')) {
                    <span class="error-text">Debe tener al menos 2 caracteres.</span>
                  } @else if (formData.controls.firstname.hasError('maxlength')) {
                    <span class="error-text">No puede superar los 50 caracteres.</span>
                  }
                </div>
              }

            </div>
            
            <div class="input-group">
              <label>Apellido/s</label>
              <input 
                type="text" 
                class="oran-input" 
                placeholder="Perez" 
                formControlName="lastname"
                [class.input-error]="formData.controls.lastname.invalid && formData.controls.lastname.touched">

               @if (formData.controls.lastname.invalid && formData.controls.lastname.touched) {
                <div class="error-container">
                  @if (formData.controls.lastname.hasError('required')) {
                    <span class="error-text">El apellido es obligatorio.</span>
                  } @else if (formData.controls.lastname.hasError('minlength')) {
                    <span class="error-text">Debe tener al menos 2 caracteres.</span>
                  } @else if (formData.controls.lastname.hasError('maxlength')) {
                    <span class="error-text">No puede superar los 50 caracteres.</span>
                  }
                </div>
              }
            </div>
          
        </div>

          <div class="input-group">
            <label>Email</label>
            <input 
              type="email" 
              class="oran-input" 
              placeholder="juan.perez@email.com" 
              formControlName="email"
              [class.input-error]="formData.controls.email.invalid && formData.controls.email.touched">

            @if (formData.controls.email.invalid && formData.controls.email.touched) {
              <div class="error-container">
                @if (formData.controls.email.hasError('required')) {
                  <span class="error-text">El email es obligatorio.</span>
                }
                @else if (formData.controls.email.hasError('email')) {
                  <span class="error-text">Debe tener formato de Email</span>
                }
              </div>
            }
            
          </div>
          
          <div class="input-group">
            <label>Alias</label>
            <input 
              type="text" 
              class="oran-input" 
              placeholder="ARBOL.OSO.MIEL" 
              formControlName="alias"
              [class.input-error]="formData.controls.alias.invalid && formData.controls.alias.touched">
              
            @if (formData.controls.alias.invalid && formData.controls.alias.touched) {
              <div class="error-container">
                @if (formData.controls.alias.hasError('required')) {
                  <span class="error-text">El alias es obligatorio.</span>
                }
                @else if (formData.controls.alias.hasError('minlength')) {
                  <span class="error-text">Debe tener al menos 4 caracteres.</span>
                }
                @else if (formData.controls.alias.hasError('maxlength')) {
                  <span class="error-text">No puede superar los 20 caracteres.</span>
                }
              </div>
            }
          </div>
          
          <div class="form-actions">
            <button type="button" class="btn-guardar" (click)="updateUser()">Guardar</button>
            <button type="button" class="btn-cancelar" (click)="resetFormData()">Cancelar</button>
          </div>
        
        </form>
      </mat-tab>

      <mat-tab label="Editar contraseña">
        <form class="profile-form tab-content" [formGroup]="formPassword">

          <div class="input-group">
            <label>Contraseña actual</label>
            <div class="input-password-wrapper">
                <input 
                  [type]="hidePassword() ? 'password' : 'text'" 
                  class="oran-input" 
                  formControlName="password">

                <button 
                  type="button" 
                  class="btn-eye" 
                  (click)="hidePassword.set(!hidePassword())">
                  <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
           
          </div>
          
          <div class="input-group">
            <label>Nueva contraseña</label>
            <div class="input-password-wrapper">
                <input 
                  [type]="hideNewPassword() ? 'password' : 'text'"
                  class="oran-input" 
                  formControlName="newPassword"
                  [class.input-error]="formPassword.controls.newPassword.invalid && formPassword.controls.newPassword.touched">

                <button 
                  type="button" 
                  class="btn-eye" 
                  (click)="hideNewPassword.set(!hideNewPassword())">
                  <mat-icon>{{ hideNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
            @if (formPassword.controls.newPassword.invalid && formPassword.controls.newPassword.touched) {
              <div class="error-container">
                @if (formPassword.controls.newPassword.hasError('required')) {
                  <span class="error-text">La contraseña es obligatoria.</span>
                }
                @else if (formPassword.controls.newPassword.hasError('minlength')) {
                  <span class="error-text">La contraseña debe tener al menos 8 caracteres.</span>
                }
                @else if (formPassword.controls.newPassword.hasError('missingUppercase')) {
                  <span class="error-text">La contraseña debe contener al menos una mayúscula.</span>
                }
                @else if (formPassword.controls.newPassword.hasError('missingNumber')) {
                  <span class="error-text">La contraseña debe contener al menos un número.</span>
                }
              </div>
            }
          </div>
          
          <div class="input-group">
            <label>Repetir contraseña nueva</label>
            <input 
              [type]="hideNewPassword() ? 'password' : 'text'" 
              class="oran-input" 
              formControlName="repeatPassword">
          </div>
          
          <div class="form-actions">
            <button type="button" class="btn-guardar" (click)="updatePassword()">Guardar</button>
            <button type="button" class="btn-cancelar" (click)="resetFormPassword()">Cancelar</button>
          </div>
        
        </form>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>