<div class="auth-container">
  <div class="brand-section">
    <div class="logo-box">
      <mat-icon>account_balance_wallet</mat-icon>
    </div>
    <h1>Oran</h1>
    <p>Tu billetera virtual</p>
  </div>

  <div class="auth-card">
    <div class="auth-tabs">
      <button type="button" [class.active]="isLoginMode" (click)="isLoginMode = true">Iniciar Sesión</button>
      <button type="button" [class.active]="!isLoginMode" (click)="isLoginMode = false">Registrarse</button>
    </div>

    @if (isLoginMode) {
      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="auth-form fade-in">
        
        <div class="input-group">
         
          <label>Email</label>
          <div class="input-wrapper">
            <mat-icon class="input-icon">email</mat-icon>
            <input type="email" class="oran-input" formControlName="email" placeholder="tu@email.com"
                   [class.input-error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          </div>
         
          @if (loginForm.get('email')?.touched) {
            @if (loginForm.get('email')?.hasError('required')) {
              <span class="error-text">El email es requerido</span>
            } @else if (loginForm.get('email')?.hasError('email')) {
              <span class="error-text">Ingresa un formato válido</span>
            }
          }

        </div>

        <div class="input-group">

          <label>Contraseña</label>
          <div class="input-wrapper">
            <mat-icon class="input-icon">lock</mat-icon>
            <input 
              [type]="hidePasswordLogin() ? 'password' : 'text'" 
              class="oran-input" 
              formControlName="password" 
              placeholder="••••••••"
             [class.input-error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

            <button 
              type="button" 
              class="btn-eye" 
              (click)="hidePasswordLogin.set(!hidePasswordLogin())">
              <mat-icon>{{ hidePasswordLogin() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
            <span class="error-text">La contraseña es requerida</span>
          } @else if (loginForm.get('password')?.hasError('minlength')) {
            <span class="error-text">La contraseña debe tener 8 caracteres mínimo</span>
          }

        </div>

        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>

        <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>
    }

    @else {
      <form [formGroup]="registerForm" (ngSubmit)="submit()" class="auth-form fade-in">
        
        <div class="row">
          <div class="input-group col">

            <label>Nombre</label>
            <div class="input-wrapper">
              <mat-icon class="input-icon">person</mat-icon>
              <input type="text" class="oran-input" formControlName="firstname" placeholder="Juan"
                     [class.input-error]="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched">
            </div>
            @if (registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched) {
              <span class="error-text">Obligatorio</span>
            }

          </div>

          <div class="input-group col">

            <label>Apellido</label>
            <div class="input-wrapper">
              <mat-icon class="input-icon">person</mat-icon>
              <input type="text" class="oran-input" formControlName="lastname" placeholder="Pérez"
                     [class.input-error]="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">
            </div>
            @if (registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched) {
              <span class="error-text">Obligatorio</span>
            }
          </div>

        </div>

        <div class="input-group">
          <label>Email</label>
          <div class="input-wrapper">
            <mat-icon class="input-icon">email</mat-icon>
            <input type="email" class="oran-input" formControlName="email" placeholder="tu@email.com"
                   [class.input-error]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          </div>
          @if (registerForm.get('email')?.touched) {
            @if (registerForm.get('email')?.hasError('required')) {
              <span class="error-text">El email es requerido</span>
            } @else if (registerForm.get('email')?.hasError('email')) {
              <span class="error-text">Ingresa un formato válido</span>
            }
          }
        </div>

        <div class="input-group">

          <label>Contraseña</label>
          <div class="input-wrapper">
            <mat-icon class="input-icon">lock</mat-icon>
            <input 
              [type]="hidePasswordRegister() ? 'password' : 'text'" 
              class="oran-input" 
              formControlName="password" 
              placeholder="••••••••"
             [class.input-error]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">

            <button 
              type="button" 
              class="btn-eye" 
              (click)="hidePasswordRegister.set(!hidePasswordRegister())">
              <mat-icon>{{ hidePasswordRegister() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          @if (registerForm.get('password')?.touched) {
            @if (registerForm.get('password')?.hasError('required')) {
              <span class="error-text">La contraseña es requerida</span>
            } @else if (registerForm.get('password')?.hasError('minlength')) {
              <span class="error-text">Mínimo 6 caracteres</span>
            }
          }

        </div>

        <p class="terms">Al registrarte, aceptas nuestros <span>Términos y Condiciones</span></p>

        <button type="submit" class="btn-primary" [disabled]="registerForm.invalid">
          Crear Cuenta
        </button>
      </form>
    }
  </div>

  <footer class="auth-footer">
    © 2026 Oran. Todos los derechos reservados.
  </footer>
</div>