<div class="dashboard-container">
  
  <aside class="filters-sidebar" [formGroup]="filterForm">
    <h2 class="sidebar-title">Filtros</h2>

    <div class="filter-group">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Monto mínimo</mat-label>
        <input matInput type="number" formControlName="minAmount" placeholder="$ 0">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Monto máximo</mat-label>
        <input matInput type="number" formControlName="maxAmount" placeholder="$ 999.999">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha inicio</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="start" placeholder="dd/mm/aaaa">
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha fin</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="end" placeholder="dd/mm/aaaa">
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option value="TRANSFER">Transferencia</mat-option>
          <mat-option value="DEPOSIT">Depósito</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="sidebar-actions">
      <button mat-flat-button class="btn-apply full-width" (click)="applyFilters()">
        Aplicar
      </button>
      <button mat-stroked-button class="btn-clear full-width" (click)="clearFilters()">
        Limpiar
      </button>
    </div>
  </aside>

  <section class="main-content">
    
    <section class="search-section">
      <div class="custom-search">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Buscar por nombre..." (input)="onSearch($event)">
      </div>
    </section>

    <section class="transactions-section">
      <h3 class="section-title">Recientes</h3>
      
      <div class="transaction-list">
        @for (tx of transactions(); track tx.id) {
          <div class="transaction-card">
            <div class="card-left">
              <div class="icon-circle-oran">
                <mat-icon>{{ isEntry(tx) ? 'south_west' : 'send' }}</mat-icon>
              </div>
              <div class="info">
                <h3>
                  <app-user-fullname-component 
                  [accountId]="tx.counterpartyAccountId === userAccount()?.id ? tx.originAccountId : tx.counterpartyAccountId">
                  </app-user-fullname-component>
                </h3>
                @if (tx.transactionType === 'TRANSFER') {
                  <p>{{ isEntry(tx) ? 'Transferencia recibida' : 'Transferencia enviada'}}</p>
                }
              </div>
            </div>
            <div class="card-right" [class.positive]="isEntry(tx)">
              <span class="amount-oran">
                {{ isEntry(tx) ? '+' : '-'}}${{ tx.amount | number:'1.2-2'}}
              </span>
              <p>{{ tx.timestamp | date:'dd MMM'}}</p>
            </div>
          </div>
        }
      </div>

      <mat-paginator 
          [length]="totalElements()"
          [pageSize]="pageSize"
          [pageIndex]="currentPage"
          (page)="onPageChange($event)"
          hidePageSize
          aria-label="Seleccionar página">
      </mat-paginator>
    </section>
  </section>

</div>