<div class="dashboard-container">
  <div class="balance-card">
    <div class="balance-header">
      <span>Hola, {{ userData()?.firstname }}</span>
      <div class="balance-actions">
        <mat-icon (click)="toggleAmount()">
          {{ amountVisible ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-icon (click)="openUserModal()">person_outline</mat-icon>
      </div>
    </div>
    <div class="balance-amount">
      $ {{ amountVisible ? (userAccount()?.balance | number:'1.2-2') : '******' }}
    </div>
  </div>

  <div class="actions-grid">
    <div class="action-item">
      <div class="action-icon"><mat-icon>add</mat-icon></div>
      <span>Depositar</span>
    </div>
    <div class="action-item" [routerLink]="['/transferContact']">
      <div class="action-icon"><mat-icon>send</mat-icon></div>
      <span>Transferir</span>
    </div>
    <div class="action-item">
      <div class="action-icon"><mat-icon>credit_card</mat-icon></div>
      <span>Retirar</span>
    </div>
  </div>

  <div class="activity-section">
    <div class="section-header">
      <h2>Actividad reciente</h2>
      <p class="view-all" [routerLink]="['/history']">
        Ver todo 
        <mat-icon>chevron_right</mat-icon>
      </p>
    </div>

    <div class="transaction-list">
      @for (t of transactionHistory()?.content; track t.id) {
        <div class="transaction-item" [routerLink]="['/transaction', t.id]">
          <div class="transaction-info">
            <div class="icon-box" [class.deposit]="t.transactionType === 'DEPOSIT'">
              
              <mat-icon>{{ isEntry(t) ? 'south_west' : 'send_money'}}</mat-icon>
            </div>
            <div class="details">
              <p class="title">
                <app-user-fullname-component 
                [accountId]="t.counterpartyAccountId === userAccount()?.id ? t.originAccountId : t.counterpartyAccountId">
                </app-user-fullname-component>
              </p>
              @if (t.transactionType === 'TRANSFER') {
                <p class="subtitle">{{ isEntry(t) ? 'Transferencia recibida' : 'Transferencia enviada' }}</p>
              }
            </div>
          </div>

          <div class="transaction-amount" [class.positive]="isEntry(t)">
            <p>
              {{ isEntry(t) ? '+' : '-' }}${{ t.amount }}
            </p>
            <span>{{ t.timestamp | date:'dd MMM' }}</span>
          </div>
        </div>
      } @empty {
        <div class="empty-state">
          <div class="empty-icon-wrapper">
            <mat-icon>receipt_long</mat-icon>
          </div>
          <h4 class="empty-title">Aún no tenés movimientos</h4>
          <p class="empty-subtitle">Tus transferencias y depósitos aparecerán acá.</p>
        </div>
      }
    </div>
  </div>
</div>