<nav class="navbar">
  <div class="navbar-brand" (click)="goHome()">
    <span class="brand-name">Oran</span>
  </div>

  <div class="navbar-actions">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu" class="custom-menu">
      <button mat-menu-item [routerLink]="['/editProfile']">
        <mat-icon>person_outline</mat-icon>
        <span>Editar Perfil</span>
      </button>
      <button mat-menu-item (click)="toggleDarkMode()">
        <mat-icon>
          {{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
        <span>
          {{ themeService.isDarkMode() ? 'Modo Claro' : 'Modo Oscuro' }}
        </span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="logout-item" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</nav>