:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  flex-shrink: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1; 
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.router-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}